<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_ol0z2jo7yN1r2ekhjo1_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_ok327ifRkM1toxp0vo1_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_oao1maY4hV1ukdlcoo1_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_odd1uxbDaO1u8vmj9o3_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_mxpiv2RuA61r9mxpfo1_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_ol0z2jo7yN1r2ekhjo2_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_oh1w8dqcrk1rnqv4ao1_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_oese9meToa1rkdo1zo1_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_ol0z2jo7yN1r2ekhjo7_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_ogenakL1La1rl3tlpo2_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_ol0z2jo7yN1r2ekhjo3_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 thumb">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/assets/example_images/tumblr_odd1uxbDaO1u8vmj9o1_540.jpg" alt="">
        </a>
        <p class='readable'>
            Talk about the picture and they will be able to click on the picture and see more of this post...
        </p>
    </div>
</div>